
* {
    margin: 0px;
    padding: 0px;
}

.page {
    background-image: url('./media/vecteezy_a-shallow-focus-view-of-code-on-a-computer-screen_1407890.jpeg') !important;
    height: 100vh;
    filter: brightness(87%);
    display: flex;
    width: 100vw;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.panel {
    padding: 20px;
    background-color: #191929;
    border-radius: 20px;

}