@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --global-margin: 8px;
    --main-page-background: #343546;
    --page-relative-w: 100vw;
    --page-relative-h: 100vh;
    --sidebar-bg: rgb(25 26 39);
    --header-bg: rgb(32 33 53);
    --actual-header-bg: rgb(25 26 39);
    --header-radius: 10px;
    --global-padding: 15px;
    --header-padding: 10px;
    --header-logo-size: 25px;
    --header-logo-weight: 800;
    --header-logo-color: #e7e7e7;
    --header-logo-shadow: 0px 6px 16px black;
    --icon-margin-top: 25px;
    --icon-enabled: #5B5D72;
    --icon-width: 26px;
    --icon-height: 26px;
    --icon-transition: 0.5s ease-in-out;
    --icon-hover: #3AA27D;
    --icon-active: #dbdbdb;
    --icon-settings-hover: #dd9f19;
    --icon-account-hover: #c4c4c4;
    --tooltip-background: #333;
    --tooltip-color: white;
    --tooltip-padding: 5px 10px;
    --tooltip-radius: 4px;
    --tooltip-font-size: 13px;
    --content-title-icon-div: #141520; 
    --content-title-div-radius: 8px;
    --content-title-icon: #dadada;
    --content-title-div-padding: 20px 20px 0;
    --content-title-icon-padding: 8px;
    --content-title-div-gradient: none;
    --content-title-margin: 10px;
    --content-title-font-size: 25px;
    --content-title-font-weight: 600;
    --content-title-font-color: #d5d5d5;
    --content-padding: 35px 20px 20px;
    --content-border: 1px solid #38394b;
    --nav-button-padding: 14px;
    --nav-button-color: #c4c4c4;
    --nav-button-font-size: 14px;
    --nav-button-border-active: 2px solid #3AA27D;
    --nav-button-border-hover: 2px solid #22664e;
    --nav-button-color-hover-active: #ffffff;
    --nav-button-padding-hover-active: 12px;
    --base-input-margin: 0px;
    --base-input-padding: 10px;
    --base-input-font-size: 14px;
    --base-input-border-radius: 8px;
    --base-input-outline: none;
    --base-input-border: none;
    --base-input-color: #cbcbcb;
    --base-input-placeholder-color: #515261;
    --base-input-resize: none;
    --base-input-bg: #161721;
    --subnav-margin-top: 10px;
    --search-input-width: 350px;

    --button-text: #ffffff;
    --button-padding: 10px;
    --button-font-size: 14px;
    --button-border-radius: 8px;
    --button-transition: 0.25s;
    --button-warning-bg: #FEA526;
    --button-warning-bg-hover: #E09223;
    --button-warning-color: #000000 !important;
    --button-danger-bg: #ff4747;
    --button-danger-bg-hover: #ff6565;
    --button-danger-color: #ffffff !important;
    --button-success-bg: #2ebd3e;
    --button-success-bg-hover: #61bd6c;
    --button-success-color: #ffffff !important;
    --button-default-bg: #373853;
    --button-default-bg-hover: #50516d;
    --button-default-color: #ababab !important;
    --button-action-bg: #397bfe;
    --button-action-bg-hover: #5c92ff;
    --button-action-color: #ffffff !important;
}


body {
}
.button-warning {
    background-color: var(--button-warning-bg);
    color: var(--button-warning-color);
}
.button-warning:hover {
    background-color: var(--button-warning-bg-hover);
}
.button-danger {
    background-color: var(--button-danger-bg);
    color: var(--button-danger-color);
}
.button-danger:hover {
    background-color: var(--button-danger-bg-hover);
}
.button-action {
    background-color: var(--button-action-bg);
    color: var(--button-action-color);
}
.button-action:hover {
    background-color: var(--button-action-bg-hover);
}
.button-success {
    background-color: var(--button-success-bg);
    color: var(--button-success-color);
}
.button-success:hover {
    background-color: var(--button-success-bg-hover);
}
.button-default {
    background-color: var(--button-default-bg);
    color: var(--button-default-color);
}
.button-default:hover {
    background-color: var(--button-default-bg-hover);
}

.button-transparent {
  background-color: transparent;
  color: gray !important;
}

.button-transparent:hover {
  color: rgb(206, 206, 206) !important;
}
.left-binder {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: 0px !important;
}
.right-binder {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-right: 0px !important;
}
.subnav {
    margin-top: var(--subnav-margin-top);
    display: flex;
}



.page {
    background-color: var(--main-page-background);
    width: var(--page-relative-w);
    height: var(--page-relative-h);
    display: flex;
    flex-direction: column;
}
.header {
    border: 0.5px solid #51536f;
    width: inherit;
    margin: var(--global-margin);
    padding: var(--header-padding);
    background-color: var(--actual-header-bg);
    border-radius: var(--header-radius);
    display: flex;
    margin-bottom: 0px;
    align-items: center;

}
.logo {
    font-size: var(--header-logo-size);
    font-weight: var(--header-logo-weight);
    color: var(--header-logo-color);
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    height: inherit;
    overflow: hidden;
}

.content {
    border: 0.5px solid #51536f;
    background-color: var(--header-bg);
    border-radius: var(--header-radius); 
    margin: var(--global-margin);
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
}

.sidebar {
    border: 0.5px solid #51536f;
    margin: var(--global-margin);
    padding: var(--global-padding);
    background: var(--sidebar-bg);
    border-radius: var(--header-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    transition: 0.5s;
}
.sidebar:hover {
  border: 0.5px solid #71738b;
}

.icon {
    margin-top: var(--icon-margin-top);
    fill: var(--icon-enabled);
    transition: var(--icon-transition);
    cursor: pointer;
    height: var(--icon-height);
    width: var(--icon-width);
    outline: none;
}

.icon:active {
  fill: var(--icon-active);
}
.icon:hover {
    fill: var(--icon-hover);
}

.settings:hover {
    fill: var(--icon-settings-hover);
}

.account:hover {
    fill: var(--icon-account-hover);
}

#tooltip:hover {
    background-color: var(--tooltip-background);
    color: var(--tooltip-color);
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-radius);
    font-size: var(--tooltip-font-size);
  }

.ContentHead {
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: var(--content-title-div-padding);
    background: var(--content-title-div-gradient);
    border-radius: var(--header-radius);
}

.ContentTitleIcon {
    display: flex;
    background-color: var(--content-title-icon-div);
    border-radius: var(--content-title-div-radius);
    padding: var(--content-title-icon-padding);
}

.title-icon {
    height: var(--icon-height);
    width: var(--icon-width);
    fill: var(--content-title-icon);
}

.ContentTitle {
    margin-left: var(--content-title-margin);
    font-size: var(--content-title-font-size);
    font-weight: var(--content-title-font-weight);
    color: var(--content-title-font-color);
}

.ContentBuffer {
    padding: var(--content-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main {
    border-top: var(--content-border);
    width: 65%;
    display: flex;
    justify-content: center;
}

.navbutton {
    background: transparent;
    border: none;
    padding: var(--nav-button-padding);
    color: var(--nav-button-color);
    font-size: var(--nav-button-padding);
}

.navbutton:hover {
    border-bottom: var(--nav-button-border-hover);
    padding: var(--nav-button-padding-hover-active);
    cursor: pointer;
    color: var(--nav-button-color-hover-active);
}
.navbutton:active {
    border-bottom: var(--nav-button-border-active);
    padding: var(--nav-button-padding-hover-active);
    color: var(--nav-button-color-hover-active);
}

.default-input {
    margin: var(--base-input-margin);
    padding: var(--base-input-padding);
    font-size: var(--base-input-font-size);
    border-radius: var(--base-input-border-radius);
    outline: var(--base-input-outline);
    border: var(--base-input-border);
    background-color: var(--base-input-bg);
    color: var(--base-input-color);
    resize: var(--base-input-resize);
    transition: background-color 0.5s;
}
.default-input:hover {
  background: #0c0d12;
}
.default-input::placeholder {
    color: var(--base-input-placeholder-color);
}
.search-input {
    width: var(--search-input-width) !important;
}

.button-base {
    color: var(--button-text);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    transition: var(--button-transition);
    border: none;
}
.button-base:hover {
    cursor: pointer;
}
.button-base:active {
    transform: scale(0.95);
}
.button-outline {
    background-color: transparent;
    border: 1px solid;
    color: #ffff;
    border-color: var();
}


.svg-search {
    height: 20px;
    width: 20px;
    display: flex;
    fill: rgb(212, 212, 212);
}

.subnav-create {
    margin-left: 20px;
}




/* test */


  .preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    /* font-family: 'Montserrat'; */
    background-color: rgb(25 26 39);
    opacity: 1;
    transition: opacity 2s;
  }
  
  .preloader-logo {
    
  }
  
  .preloader-svg {
    width: 150px;
    height: 150px;
    animation: rotate 6s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-in;
    }
    25% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
      animation-timing-function: ease-out; 
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .preloader-text {
    margin-top: 20px;
    font-size: 25px;
    font-family: Roboto;
    color: white;
    animation: growShrink 2s infinite;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  @keyframes growShrink {
    0% {
      color: white; 
    }
    50% {
      color: gray;
    }
    100% {
      color: white;
    }
  }


  .logosvg {
    height: 45px;
    width: 45px;
  }



.content-header {

}


.content-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}


.content-header h2 {
    color: rgb(177, 177, 177);
}
.content-header p {
    color: rgb(143, 143, 143);
}

.input-icon {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-seperator {
    height: 1px;
    width: 100%;
    background-color: #2e2f47;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-grid {
    display: grid;
    grid-gap: 35px;
}

.project-card {
    width: 250px;
    height: 300px;
    background-color: red;
}


@media (min-width: 800px) {
    .content-grid { grid-template-columns: repeat(2, 1fr); }
  }
  
  @media (min-width: 1200px) {
    .content-grid { grid-template-columns: repeat(3, 1fr); }
  }

  @media (min-width: 1800px) {
    .content-grid { grid-template-columns: repeat(5, 1fr); }
  }

.content-content {
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

::-webkit-scrollbar {
    background: #00000010;
    border-radius: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0000001a; 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #161725;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #10111b;
    border-radius: 15px;
  }
  .project-card {
    border-radius: 10px;
    background-color: #10111b;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-img {
    background-color: #222433;
    /* width: 100%; */
    /* height: 100%; */
    /* border-radius: 90px; */
    /* width: 100%; */
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    border-radius: 90px;
    padding: 10px;
  }
  .card-img2{
    border-radius: 50%;
    width: 110px;
    height: 110px;
  }

  .card-title{
    margin-top: 10px;
    color: rgb(214, 214, 214);
    
  }

  .card-description {
    margin-top: 10px;
    color: rgb(163, 163, 163);
  }

  .card-details {
    margin-top: 10px;
    color: rgb(128, 128, 128);
    font-size: 13px;
  }

  .card-other {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
  }


.card-button-margin {
    margin-left: 10px;
}

.card-button {
    padding: 12px;
    border-radius: 5px;
}

.sep {
  width: 100%;
    height: 1px;
    background: #323343;
    margin-top: 10px;
    margin-bottom: -10px;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }


.loadingel {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #191a27;
    border-radius: 5px;
    transition: bottom 0.5s ease;
    width: 40%;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 12px 0px black;
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
}

.appear {
  bottom: 20px;
}


.loading-loader {
  height: 5px;
  width: 100%;
  background-color: #202130;
  border-radius: 8px;
}
.loading-bar {
  height: 5px;
  width: 0px;
  background-color: rgb(15, 111, 201);
  border-radius: 8px;
  transition: all 2s cubic-bezier(0.53, 0.09, 0.52, 0.95);

}
.loading-content {
  display: flex;
  margin-top: 14px;
  margin-left: 14px;
  margin-right: 14px;
  justify-content: space-between;
}

.loading-alt {
  color: rgb(131, 131, 131);
  
}

select {
  cursor: pointer;
}

.hover-fix:hover {
  background-color: #161721 !important;
}

.content-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.quickmenu {
  border-radius: 8px;
  width: 400px;
  height: 300px;
  background-color: #141423;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  padding: 15px;
  justify-content: space-between;
}

.shortcuttext {
  color: #bdbdbd;
}

h3.shortcuttext {
  margin-bottom: 25px;
  font-weight: 400;
}

h1.shortcuttext {
  margin-bottom: 7px;
}

.quickitem {
  background-color: transparent;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #999999;
  fill: #999999;
  transition: 0.5s;
}

.quickitem svg {
  margin-bottom: 15px;
}
.quickleft {
  margin-right: 10px; 
}
.quickleft:hover {
  color: #bdbdbd;
  fill: rgb(169, 102, 231);
  background-color: #ffffff0e;
  cursor: pointer;
}
.quickright {
  margin-left: 10px;
}
.quickright:hover {
  color: #bdbdbd;
  fill: rgb(231, 175, 102);
  background-color: #ffffff0e;
  cursor: pointer;
}


.noscript {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  /* font-family: 'Montserrat'; */
  background-color: rgb(199 12 43);
  opacity: 1;
  color: #e9e9e9;
  
}

.noscript h3 {
  font-weight: 400;
}

.noscriptsvg {
  width: 150px;
  height: 150px;
  fill: #e9e9e9;
}

.noscript-options {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.noscript-why {
  border: 1.5px solid #e9e9e9;
  color: #e9e9e9;
  margin-right: 10px;
  transition: 0.25s;
  background: transparent;
}
.noscript-why:hover {
  background-color: #e9e9e9;
  color: #1d1d1d;
}

.noscript-reload {
  margin-left: 10px;
  background-color: #e9e9e9;
  transition: 0.25s;
  color: #1d1d1d;
}

.noscript-reload:hover {
  background-color: #c0c0c0;
}

.dialog {
  width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    /* border-radius: 5px; 
    background-color: rgb(255 255 255 / 1%);
    backdrop-filter: blur(2px); */
    border: none;
    background: #0000003d;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}



.b4d-modal {
  background: #0c0c12;
  max-width: 400px;
  min-width: 400px;
  min-height: 350px;
  border-radius: 15px;
  outline: #262635 solid 0.5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s, transform 0.3s;
}



.visible2 {
  opacity: 1;
  transform: scale(1);
}

.b4d-modal-footer {
    background: #07070a;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    gap: 10px;
}

.b4d-modal-body {
  padding: 15px;
}

.b4d-modal-input {
  width: -webkit-fill-available;
  margin-bottom: 10px;
}

.b4d-modal-text {
  margin-bottom: 5px;
  color: #999999;
  font-weight: bold;
  font-size: 13px;
  margin-left: 1px;
  font-family: 'Montserrat';
}
.b4d-modal-header{
  text-align: center;
}

.b4d-modal-header h2 {
  color: rgb(226, 226, 226);
  margin-top: 25px;
  margin-bottom: 15px;
}

.b4d-modal-header p {
  color: rgb(139, 139, 139);
}


.market-banner {
  height: 30vh;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(https://blockly-for-discord.xyz/media/sun-tornado.png);
    align-items: center;
    justify-content: center;
}
.banner-text {
  color: #e9e9e9;
}