@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --global-margin: 8px;
    --main-page-background: #343546;
    --page-relative-w: 100vw;
    --page-relative-h: 100vh;
    --sidebar-bg: linear-gradient(0deg, rgb(38 39 57) 90%, rgb(25 26 39) 100%);
    --header-bg: #262739;
    --actual-header-bg: rgb(25 26 39);
    --header-radius: 10px;
    --header-padding: 15px;
    --header-logo-size: 25px;
    --header-logo-weight: 800;
    --header-logo-color: #e7e7e7;
    --header-logo-shadow: 0px 6px 16px black;
    --icon-margin-top: 25px;
    --icon-enabled: #5B5D72;
    --icon-width: 26px;
    --icon-height: 26px;
    --icon-transition: 0.5s ease-in-out;
    --icon-hover: #3AA27D;
    --icon-settings-hover: #dd9f19;
    --icon-account-hover: #c4c4c4;
    --tooltip-background: #333;
    --tooltip-color: white;
    --tooltip-padding: 5px 10px;
    --tooltip-radius: 4px;
    --tooltip-font-size: 13px;
    --content-title-icon-div: #141520; 
    --content-title-div-radius: 8px;
    --content-title-icon: #dadada;
    --content-title-div-padding: 20px;
    --content-title-icon-padding: 8px;
    --content-title-div-gradient: linear-gradient(0deg, rgb(38 39 57) 40%, rgb(25 26 39) 100%);
    --content-title-margin: 10px;
    --content-title-font-size: 25px;
    --content-title-font-weight: 600;
    --content-title-font-color: #d5d5d5;
}

.page {
    background-color: var(--main-page-background);
    width: var(--page-relative-w);
    height: var(--page-relative-h);
    display: flex;
    flex-direction: column;
}
.header {
    width: inherit;
    margin: var(--global-margin);
    padding: var(--header-padding);
    background-color: var(--actual-header-bg);
    border-radius: var(--header-radius);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.logo {
    font-size: var(--header-logo-size);
    font-weight: var(--header-logo-weight);
    color: var(--header-logo-color);
}

.main {
    display: flex;
    height: inherit;
}

.content {
    background-color: var(--header-bg);
    border-radius: var(--header-radius); 
    margin: var(--global-margin);
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.sidebar {
    margin: var(--global-margin);
    padding: var(--header-padding);
    background: var(--sidebar-bg);
    border-radius: var(--header-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-top: var(--icon-margin-top);
    fill: var(--icon-enabled);
    transition: var(--icon-transition);
    cursor: pointer;
    height: var(--icon-height);
    width: var(--icon-width);
    outline: none;
}
.icon:hover {
    fill: var(--icon-hover);
}

.settings:hover {
    fill: var(--icon-settings-hover);
}

.account:hover {
    fill: var(--icon-account-hover);
}

#tooltip:hover {
    background-color: var(--tooltip-background);
    color: var(--tooltip-color);
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-radius);
    font-size: var(--tooltip-font-size);
  }

.ContentHead {
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: var(--content-title-div-padding);
    background: var(--content-title-div-gradient);
    border-radius: var(--header-radius);
}

.ContentTitleIcon {
    display: flex;
    background-color: var(--content-title-icon-div);
    border-radius: var(--content-title-div-radius);
    padding: var(--content-title-icon-padding);
}

.title-icon {
    height: var(--icon-height);
    width: var(--icon-width);
    fill: var(--content-title-icon);
}

.ContentTitle {
    margin-left: var(--content-title-margin);
    font-size: var(--content-title-font-size);
    font-weight: var(--content-title-font-weight);
    color: var(--content-title-font-color);
}