@import "css/nav-acc.css";
/* <a href="https://www.vecteezy.com/free-photos">Free Stock photos by Vecteezy</a> 
Image by <a href="https://pixabay.com/users/qimono-1962238/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1756274">Arek Socha</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1756274">Pixabay</a>*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/* Nav ACC Type*/


body {
    /* background-color: #222e49 !important; */
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 100%;
    position: relative;
}

.content {
    background-image: url('./media/vecteezy_a-shallow-focus-view-of-code-on-a-computer-screen_1407890.jpeg') !important;
    background-color: #222e49;
    text-align: center;
    position: relative;
    height: 100vh;
    filter: brightness(87%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-size: cover;
}

div {
    display: block;
}

.title {
    font-size: 10em;
    font-weight: 900;
    color: rgb(240, 240, 240);
    line-height: unset;
    margin-bottom: unset;
}
.subheader {
    color: rgba(255,255,255,.7);
    font-size: 1.73em;
    font-weight: 600;
    margin: -10px 30px 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.button1 {
    padding: 0.93em 1.87em;
    background: #dbdbdb;
    display: block;
    color: #222e49;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
}


.button2 {
    padding: 0.93em 1.87em;
    background: #222e49;
    display: block;
    color: #d8d8d8;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.button2:hover {
    background: #313e5e;
}
.button1:hover {
    background: #ffffff;
}

li {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: center;
}

ul {
    padding: 0px !important;
}

.colored-text {
    font-weight: 1200px;
    color: orange;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
  }

.fixed-div {
    position: fixed;
    bottom: 10px; /* Adjust this value to control the vertical positioning from the bottom */
    left: 10px; /* Adjust this value to control the horizontal positioning from the left */
    background-color: #ffffff3f; /* Background color of the div */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust as needed */
    border-radius: 5px; /* Rounded corners */
  }
  .fixed-div2 {
    position: fixed;
    bottom: 10px; /* Adjust this value to control the vertical positioning from the bottom */
    right: 10px; /* Adjust this value to control the horizontal positioning from the left */
    background-color: #ffffff3f; /* Background color of the div */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust as needed */
    border-radius: 5px; /* Rounded corners */
    border: none;
  }

.alink {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.alink:hover {
    color: #c5c5c5;
}

.footersection {
    width: 100vw;
    height: 10vh;
    background-color: #141b2b;
    padding: 20px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

.header {
    background-color: rgba(20, 20, 20, 0) !important;
}