html, body {
  height: 100%;
}

body {
  font-family: Arial;
  overflow: hidden;
  margin-left: 0%;
  margin-right: 0%;
  color: white;
  background-color: #212529;
}

h1 {
  font-size: 140%;
  margin: 10px;
}

#blocklyDiv {
  float: bottom;
  height: 93%;
  width: 100%;
  color: white;
  
}
.ParentLeft {
  height: 93%;
  width: 100%;
}
.blocklyTreeRow {
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 0.5em;
border-radius: 5px;
  
}

.blocklyToolboxDiv{
  width: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  background-color: #333333;
  min-width: max-content;
  outline: 0.5px solid #555a5f;
}

.blocklySvg {
  background-color: #1e1e1e;
  border-radius: 5px;
}

nav{
  background-color: transparent;
  height: max-content;
  margin-top: 0px;
  background-color: #212529;
  caret-color: transparent;
}

.blocklyFlyoutBackground{
  fill: #07090f;
}

.btn{
  font-size: 14px;
  color: #fff;
  background-color: #0058cc;
  padding: 5px 15px;
  border: solid #0168ce 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 500ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.btn:hover{
  background-color: #0080ff;
  border: solid #0080ff 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
}
.btn:active{
  background-color: #006fee;
  border: solid #006eed 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
}
textarea{
  width: 100%;
  height: 70%;
  outline: 0.5px solid #2e3338;
  background-color: #1b1b1b;
  color: white;
  resize: none;
}
.btnred{
  font-size: 14px;
  color: #fff;
  background-color: #cc0000;
  padding: 5px 15px;
  border: solid #ce0101 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 500ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.btnred:hover{
  background-color: #ff0000;
  border: solid #ff0000 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
}
.btnred:active{
  background-color: #ee0000;
  border: solid #ed0000 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
}
.blockly-ws-search {
  background-color: #212529;
  border: solid #727272 0.5px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px grey;
  justify-content: center;
  padding: 0.5em;
  z-index: 70;
}
.blockly-ws-search-close-btn {
  background: #212529;
}
.blockly-ws-search-next-btn {
  background: #212529;
}
.blockly-ws-search-previous-btn {
  background: #212529;
}

.blockly-ws-search-input input {
  background: #333333;
  color: whitesmoke;
  border-radius: 5px;
  height: 25px;
  outline: 0.5px solid #2e3338;
}

.btnav{
  font-size: 14px;
  color: #ababab;
  background-color: #0000;
  border: 0px;
  transition: 500ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.btnav:hover{
  color: #fff;
}
.btnav:active{
  color: #9b9b9b;
}

dialog {
  background-color: rgba(0, 0, 0, 0.726);
  color: #fff;
  text-align: center;
  border: transparent;
}
.ParentLeft {
  color: white;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #16191b;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  outline: 0.5px solid #2e3338;
  top: 6%;
}
.dropdown-content a {
  color: #bebebe;
  transition: 500ms;
  padding: 11px 13px;
  display: block;
  text-decoration: none;
  user-select: none;
}
.dropdown-content a:hover {
  color: #fff;
}
.dropdown-content a:hover {
  background-color: #1c2022;
}

.dropdown:hover .dropdown-content {
  display: block;
}
pre code.hljs {
  outline: 0.5px solid #555a5f;
}
.blocklyFlyoutButton {
  fill: #080a10;
}
.blocklyFlyoutButton:hover {
  fill: #232530;
  padding-bottom: 5px;
}
.blocklyFlyoutButtonShadow {
  fill: transparent;
}
*:focus {
  outline: 0.5px solid #555a5f;
  border-radius: 10px;
}

.zelos-renderer.classic-theme .blocklyFlyoutLabelText {
  fill: rgb(201, 201, 201);
}