/* Makes our label white. */
.blocklyTreeLabel {
    color: white;
  }
  /* Adds padding around the group of categories and separators. */
  .blocklyToolboxContents {
    padding: 0.5em;
   
  }
  /* Adds space between the categories, rounds the corners and adds space around the label. */

