html, body {
  height: 100%;
}

body {
  font-family: Arial;
  overflow: hidden;
  margin-left: 0%;
  margin-right: 0%;
  color: white;
  background-color: #212529;
}

h1 {
  font-size: 140%;
  margin: 10px;
}

#blocklyDiv {
  flex: 1;
  color: white;
  
}
.ParentLeft {
  height: 93%;
  width: 100%;
}
.blocklyTreeRow {
padding-top: 6px;
padding-bottom: 6px;
margin-bottom: 0.5em;
border-radius: 5px;
}

.blocklyToolboxDiv{
  width: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  background-color: #333333;
  min-width: max-content;
  outline: 0.5px solid #555a5f;
}

.blocklySvg {
  background-color: #1e1e1e;
  border-radius: 5px;
}

nav{
  background-color: transparent;
  height: max-content;
  margin-top: 0px;
  background-color: #212529;
  caret-color: transparent;
}

.blocklyFlyoutBackground{
  fill: #07090f;
}

.btn{
  font-size: 14px;
  color: #fff;
  background-color: #0058cc;
  padding: 5px 15px;
  border: solid #0168ce 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 500ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.btn:hover{
  background-color: #0080ff;
  border: solid #0080ff 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
}
.btn:active{
  background-color: #006fee;
  border: solid #006eed 1px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
}
textarea{
  width: 100%;
  height: 70%;
  outline: 0.5px solid #2e3338;
  background-color: #1b1b1b;
  color: white;
  resize: none;
}
.btnwarning{
  padding-top: 8px;
  padding-left: 10px;
  cursor:pointer;
  padding-right: 10px;
  padding-bottom: 8px;
  background-color: #cc0000;
  border:none;
  border-radius: 0.5rem;
  color: white;
  transition: 500ms;
  font-size: 20;
}

.btndefault{
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor:pointer;
  padding-bottom: 8px;
  background-color: #3f3f3f;
  border:none;
  border-radius: 0.5rem;
  color: white;
  transition: 500ms;
  font-size: 20;
}
.btndefault:hover{
  background-color: #818181;
}
.btnred:hover{
  background-color: #ff0000;
}
.btnred:active{
  background-color: #ff0000;
}
.blockly-ws-search {
  background-color: #212529;
  border: solid #727272 0.5px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px grey;
  justify-content: center;
  position: sticky;
  padding: 0.5em;
  float: right;
  z-index: 2;
}
.blockly-ws-search-close-btn {
  background: #212529;
}
.blockly-ws-search-next-btn {
  background: #212529;
}
.blockly-ws-search-previous-btn {
  background: #212529;
}

.blockly-ws-search-input input {
  background: #333333;
  color: whitesmoke;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  outline: 0.5px solid #2e3338;
}

.btnav{
  font-size: 14px;
  color: #ababab;
  background-color: #0000;
  border: 0px;
  transition: 500ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.btnav:hover{
  color: #fff;
}
.btnav:active{
  color: #9b9b9b;
}

dialog {
  background-color: rgba(0, 0, 0, 0.726);
  color: #fff;
  text-align: center;
  border: transparent;
}
.ParentLeft {
  color: white;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #16191b;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  outline: 0.5px solid #2e3338;
  top: 6%;
}
.dropdown-content a {
  color: #bebebe;
  transition: 500ms;
  padding: 11px 13px;
  display: block;
  text-decoration: none;
  user-select: none;
}
.dropdown-content a:hover {
  color: #fff;
}
.dropdown-content a:hover {
  background-color: #1c2022;
}

.dropdown:hover .dropdown-content {
  display: block;
}
pre code.hljs {
  outline: 0.5px solid #555a5f;
}
.blocklyFlyoutButton {
  fill: #080a10;
}
.blocklyFlyoutButton:hover {
  fill: #232530;
  padding-bottom: 5px;
}
.blocklyFlyoutButtonShadow {
  fill: transparent;
}
/**:focus {
  outline: 0.5px solid #555a5f;
  border-radius: 10px;
}*/

.zelos-renderer.classic-theme .blocklyFlyoutLabelText {
  fill: rgb(201, 201, 201);
}

select {
  color: #fff;
    border: none;
    background-color: #16191b;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    outline: 0.5px solid #2e3338;
    border-radius: 0.5rem;
    margin-right: 10px;
}
option {
  color: #fff;
  background-color: #16191b;
}
option:disabled {
  background-color: #06090b;
}

.bluebtn {
  padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #006eed;
    border:none;
    border-radius: 0.5rem;
    cursor:pointer;
    color: white;
    transition: 500ms;
    font-size: 20;
    
}

.bluebtn:hover {
  background-color: #1a83fa;
}

.settingsuicontent {
  align-items: center;
}

.setproleft {
  padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #006fed00;
    border:none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: 0.5px solid #2e3338;
    color: white;
    font-size: 20;
}
.setproright {
  padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #006fed00;
    width: 25px;
    border:none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    outline: 0.5px solid #2e3338;
    color: rgb(145, 145, 145);
    font-size: 20;
}
.setproright:focus {
  color: white;
}

.discordico {
  user-select: none;
  float: right;
  width: 25px;
  padding: 15px;
  height: 19px;
}
.logo {
  user-select: none;
  color: white;
  height: 52px;
  width: 52px;
}
.logotext {
  color: white;
  user-select: none;
}
.settingsdialog {
  width: 80%;
  height: 60%;
  background-color: #16191b; 
  outline: 0.5px solid #2e3338;
}

.dialogdiv {
  background-color:#141719;
  text-align:left;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
}

.settingsheader {
  margin-left:10px;
}
.settingspara {
  color: rgb(184, 184, 184);
  text-align: left;
  margin-top: 5px;
}

.javagendialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  color: #ffffff;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.joincollab {
  padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color: #006fed00;
    border:none;
    border-radius: 0.5rem;
    outline: 0.5px solid #2e3338;
    color: white;
    margin-right: 10px;
    font-size: 20;
    
}
.joincollab::-webkit-outer-spin-button, .joincollab::-webkit-inner-spin-button {
        display: none;
}
input {
  background: #333333;
  color: whitesmoke;
  border-radius: 5px;
  height: 21px;
  /* outline: 0.5px solid #2e3338; */
  box-shadow: none;
  width: 80px;
  text-decoration: none;
  border: none;
  
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus {
  outline: none;
}

/* Toggle switches */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #88f;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.blocklyToolboxDiv::-webkit-scrollbar {
  display: none;
}
dialog::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}
dialog::-webkit-scrollbar {
  width: 16px;
}


.market-item {
  position: relative;
  outline: 0.5px solid #2e3338;
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;
    background-color: #16191b;
    padding: 8px;
    transition: 500ms;
}

.market-banner {
  position: relative;
    margin: -8px -8px 0 -8px;
    display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.market-image {
  display: block;
  width: 100%;
  aspect-ratio: 2 / 1;
}

.market-parent {
  background-color:#1e2325;
}

.market-button {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  background-color: #1f2225;
  border: none;
  border-radius: 0.5rem;
  color: white;
  transition: 500ms;
  font-size: 20;
  width: 100%;
}
.market-button:disabled {
  background-color: #16191b;
  color: rgb(156, 156, 156);
}

.market-button:hover {
  
  background-color: #32363a;
}
button:disabled:hover {
  background-color: #16191b;
  color: rgb(156, 156, 156);
}